<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchLandmarks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchLandmarksTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93A89D902996CC2300B8501D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A89DA02996CC2400B8501D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A89DAA2996CC2400B8501D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF9192997DA70004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF9282997DA71004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF9322997DA71004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF93E2997DA71004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF9502997DA72004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEF95A2997DA72004CE00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
